@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$accent-color: #09D0AB;
$elevation: #F2F2F2;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

a {
    text-decoration: none !important;
}

.margin-top {
    margin-top: 150px;
}

.margin-bottom {
    margin-bottom: 150px;
}

.accent-color {
    color: $accent-color;
}

.accent-bg {
    background-color: $accent-color;
}


@keyframes blinking {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInOnClick {
    from {
        transform: translateX(-1200px);
    } 
    to {
        transform: translateX(0);
    }
}

.slideInOnClick1 {
    animation: slideInOnClick 1s ease-in-out;
}

.slideInOnClick2 {
    animation: slideInOnClick 1.2s ease-in-out;
}

.slideInOnClick3 {
    animation: slideInOnClick 1.4s ease-in-out;
}

.slideInOnClick4 {
    animation: slideInOnClick 1.6s ease-in-out;
}

.slideInOnClick5 {
    animation: slideInOnClick 1.8s ease-in-out;
}

.slideInOnClick6 {
    animation: slideInOnClick 2s ease-in-out;
}

#landing {
    background: url(../img/landing-bg.jpg) center no-repeat;
    background-size: cover;
    background-color: rgba($color: #000, $alpha: 0.7);
    background-blend-mode: multiply;
    > div:nth-child(2) a {
        background-color: $accent-color;
        color: #FFF;
        padding: 15px 30px;
        margin-top: 20px;
        transition: .3s;
        margin-bottom: 200px;
        border-radius: 10px;
        border: 1px solid #09D0AB;
        background-color: transparent;
        &:hover {
            background-color: $accent-color;
        }
    } 
    h1 {
        font-weight: bold;
        text-align: center;
        margin-top: 200px;
        color: #FFF;
        font-size: 60px;
        span {
            color: $accent-color;
            animation: blinking .5s alternate infinite;
        }
    }
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    #logo {
        height: 100px;
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        li {
            margin-right: 30px;
            a {
                color: #FFF;
                transition: .3s;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    button {
        display: none;
        position: absolute;
        z-index: 999;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    #menu-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 0;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        background: transparent;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
            li {
                display: none;
                margin-bottom: 20px;
                a {
                    color: #000;
                    transition: .3s;
                    &:hover {
                        color: $accent-color;
                    }
                }
            }
        }
    }
}

.secondary-header {
    background-color: $accent-color;
    .accent-nav {
        a {
            &:hover {
                color: #000 !important;
            }
        }
    }
}

.segment-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 40px;
        color: $accent-color;
        font-weight: bold;
    }
    p {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}

.landing-product-card {
    background-color: $elevation;
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    img {
        height: 250px;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 997;
        top: 10%;
        left: 50%;
    }
    h3 {
        font-weight: bold;
        padding-bottom: 30px;
    }
}

.service-card {
    background-color: $elevation;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    > div:first-child {
        width: 30%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        i {
            font-size: 100px;
            text-align: center;
            color: $accent-color;
        }
    }
    > div:nth-child(2) {
        width: 70%;
    }
}

.partner-card {
    background-color: $elevation;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    img {
        width: 100%;
        margin-bottom: 50px;
    }
    h3 {
        font-style: italic;
    }
}

footer {
    background: #333;
    p {
        padding: 50px 0 0 0;
        color: rgba($color: #FFF, $alpha: .5);
        a {
            color: $accent-color;
            transition: .3s;
            &:hover {
                color: #FFF;
            }
        }
    }
    #socials {
        padding: 20px 0 50px 0;
        i {
            color: $accent-color;
            font-size: 30px;
            margin-right: 35px;
            transition: .3s;
            &:hover {
                color: #FFF;
            }
        }
        .fa-linkedin-in {
            margin-right: 0;
        }
    }
}

.product {
    width: 22%;
    height: 800px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
    transition: .3s;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px, rgba(0, 0, 0, 0.24) 0px 4px 8px;
    }
    &:nth-child(4n) {
        margin-right: 0;
    }
    .product-info {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            margin-bottom: 30px;
        }
        h3 {
            font-weight: bold;
        }
        h4 {
            color: $accent-color;
            font-weight: bold;
            font-size: 30px;
        }
        p {
            text-align: center;
            &:nth-child(5) {
                text-decoration: line-through;
                font-weight: lighter;
            }
        }
    }
    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 0 0 10px 10px;
        .add-to-cart-disabled {
            width: 100%;
            border: none;
            padding: 20px 0;
            background-color: #333;
            color: #F2F2F2;
            border-radius: 0 0 10px 10px;
            &:hover {
                cursor: default;
            }
        }
        i {
            font-size: 20px;
        }
    }
}

#show-filters {
    display: none;
    border: none;
    color: $accent-color;
    transition: .3s;
    &:hover {
        color: #07876F;
    }
}

#filters-wrapper {
    width: 15%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    form, select, ul {
        width: 100%;
    }
    #apply {
        display: none;
        padding: 15px 30px;
        border: none;
        background-color: $accent-color;
        color: #FFF;
        margin-top: 20px;
        transition: .3s;
        &:hover {
            background-color: #07876F;
        }
    }
    select {
        border: 1px solid rgba($color: #000, $alpha: .2);
        border-radius: 5px;
    }
}

#products-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    width: 85%;
}

#controls {
    overflow-x: hidden;
    i {
        font-size: 40px;
        color: $accent-color;
        margin-right: 25px;
        transition: .3s;
        &:hover {
            color: #07876F;
            cursor: pointer;
        }
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacityR {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.filterNarrowOff {
    animation: opacityR .5s ease-in-out !important;
}

.filterNarrow {
    display: flex !important;
    flex-direction: row;
    animation: opacity .5s ease-in-out !important;
}

.overflow-scroll{
    overflow: scroll;
}

.img-in-cart{
    width: 100px !important;
    img {
        width: 100px !important;
    }
}

#cart {
    width: 100%;
}

.form {
    justify-content: space-around;
    align-items: center;
}

.modal-body {
    height: 50% !important;
    overflow-y: scroll;
}

.modal-footer {
    height: 50% !important;
    overflow-y: scroll;
}

input:focus, input:active {
    outline: none !important;
    box-shadow: none !important;
    transition: none !important;
}


.success {
    border: 1px solid green !important;
}

.error {
    border: 1px solid red !important;
}

#order-completed {
    height: 100%;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-completed-inner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        color: #000;
        font-size: 50px;
    }
    i {
        color: #000;
        margin-bottom: 50px;
        font-size: 50px;
    }
}

.alreadyInCartActive {
    top: 10%;
    transition: all .5s ease-in-out;
}

#alreadyInCart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px;
    position: fixed;
    z-index: 999;
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    p {
        margin: 0;
        color: #FFF;
        padding: 10px 20px;
    }
}


.button {
    --background: #09D0AB;
    --text: #fff;
    --cart: #fff;
    --tick: var(--background);
    position: relative;
    border: none;
    background: none;
    padding: 15px 30px;
    border-radius: 10px 10px 0 0 ;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: var(--text);
    background: var(--background);
    transform: scale(var(--scale, 1));
    transition: transform .4s cubic-bezier(.36, 1.01, .32, 1.27);
    &:active {
        --scale: .95;
    }
    &:focus {
        outline: none !important;
    }
    &:hover {
        background-color: #07876F;
    }
    span {
        font-size: 14px;
        font-weight: 500;
        display: block;
        position: relative;
        padding-left: 24px;
        margin-left: -8px;
        line-height: 26px;
        transform: translateY(var(--span-y, 0));
        transition: transform .7s ease;
        &:before,
        &:after {
            content: '';
            width: var(--w, 2px);
            height: var(--h, 14px);
            border-radius: 1px;
            position: absolute;
            left: var(--l, 8px);
            top: var(--t, 6px);
            background: currentColor;
            transform: scale(.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
            transition: transform .65s ease .05s;
        }
        &:after {
            --w: 14px;
            --h: 2px;
            --l: 2px;
            --t: 12px;
        }
    }
    .cart {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -13px 0 0 -18px;
        transform-origin: 12px 23px;
        transform: translateX(-120px) rotate(-18deg);
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:before {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 2px var(--cart);
            bottom: 0;
            left: 9px;
            filter: drop-shadow(11px 0 0 var(--cart));
        }
        &:after {
            width: 16px;
            height: 9px;
            background: var(--cart);
            left: 9px;
            bottom: 7px;
            transform-origin: 50% 100%;
            transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
            transition: transform 1.2s ease var(--fill-d);
        }
        svg {
            z-index: 1;
            width: 36px;
            height: 26px;
            display: block;
            position: relative;
            fill: none;
            stroke: var(--cart);
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            polyline {
                &:last-child {
                    stroke: var(--tick);
                    stroke-dasharray: 10px;
                    stroke-dashoffset: var(--offset, 10px);
                    transition: stroke-dashoffset .4s ease var(--offset-d);
                }
            }
        }
    }
    &.loading {
        --scale: .95;
        --span-y: -32px;
        --icon-r: 180deg;
        --fill: 1;
        --fill-d: .8s;
        --offset: 0;
        --offset-d: 1.73s;
        .cart {
            animation: cart 3.4s linear forwards .2s;
        }
    }
}

@keyframes cart {
    12.5% {
        transform: translateX(-60px) rotate(-18deg);
    }
    25%,
    45%,
    55%,
    75% {
        transform: none;
    }
    50% {
        transform: scale(.9);
    }
    44%,
    56% {
        transform-origin: 12px 23px;
    }
    45%,
    55% {
        transform-origin: 50% 50%;
    }
    87.5% {
        transform: translateX(70px) rotate(-18deg);
    }
    100% {
        transform: translateX(140px) rotate(-18deg);
    }
}

.about-box {
    color: #FFF;
    height: 300px;
    width: 100%;
    background-color: $accent-color;
    margin-bottom: 50px;
    border-radius: 10px;
    p {
        padding: 20px;
        font-weight: bold;
    }
    a {
        padding: 10px 20px;
        background-color: #FFF;
        color: #09D0AB;
        display: inline-block;
        margin: 20px;
        border: 1px solid #09D0AB;
        transition: .3s;
        border-radius: 10px;
        &:hover {
            border: 1px solid #FFF;
            background-color: #09D0AB;
            color: #FFF;
        }
    }
    .about-box-heading {
        background-color: #07876F;
        padding: 20px;
        border-radius: 10px 10px 0 0;
        h2 {
            font-weight: bolder;
            font-size: 30px;
        }
    }
}

#about-heading {
    font-weight: bold;
    font-size: 50px;
    span {
        font-weight: bolder;
        span {
            color: $accent-color;
        }
    }
}

label {
    span {
        color: red;
    }
}

#contact-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 10px;
    position: fixed;
    z-index: 999;
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    p {
        margin: 0;
        color: #FFF;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1220px) {
    .landing-product-card {
        margin-bottom: 150px;
        &:nth-child(3) {
            margin: 0;
        }
    }
    .partner-card {
        margin-bottom: 150px;
    }
    #filters-wrapper {
        display: none;
        transition: .3s;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        overflow-y: scroll;
        background-color: #FFF;
        margin: 0;
        flex-direction: row;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        form, select, ul {
            width: 100%;
            margin-bottom: 10px !important;
        }
        #apply {
            display: inline-block;
        }
        > div {
            width: 50%;
        }
    }

    #products-wrapper {
        width: 100%;
    }
    #show-filters {
        display: inline-block;
    }
    #controls {
        justify-content: space-between !important;
    }
    .product {
        width: 30%;
        .product-info {
            padding: 15px;
        }
        &:nth-child(4n) {
            margin-right: 20px;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 850px) {
    #nav ul {
        display: none;
    }
    .hamburger {
        display: block !important;
        &:focus {
            outline: none !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .product {
        width: 50%;
        margin-right: 0 !important;
        height: 700px;
    }
}

@media screen and (max-width: 500px) {
    #landing {
        h1 {
            margin-top: 100px;
        }
    }
    .service-card {
        flex-direction: column;
        > div:first-child {
            width: 100%;
        }
        > div:nth-child(2) {
            width: 100%;
        }
    }
}