@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

a {
  text-decoration: none !important;
}

.margin-top {
  margin-top: 150px;
}

.margin-bottom {
  margin-bottom: 150px;
}

.accent-color {
  color: #09D0AB;
}

.accent-bg {
  background-color: #09D0AB;
}

@-webkit-keyframes blinking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blinking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInOnClick {
  from {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInOnClick {
  from {
    -webkit-transform: translateX(-1200px);
            transform: translateX(-1200px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slideInOnClick1 {
  -webkit-animation: slideInOnClick 1s ease-in-out;
          animation: slideInOnClick 1s ease-in-out;
}

.slideInOnClick2 {
  -webkit-animation: slideInOnClick 1.2s ease-in-out;
          animation: slideInOnClick 1.2s ease-in-out;
}

.slideInOnClick3 {
  -webkit-animation: slideInOnClick 1.4s ease-in-out;
          animation: slideInOnClick 1.4s ease-in-out;
}

.slideInOnClick4 {
  -webkit-animation: slideInOnClick 1.6s ease-in-out;
          animation: slideInOnClick 1.6s ease-in-out;
}

.slideInOnClick5 {
  -webkit-animation: slideInOnClick 1.8s ease-in-out;
          animation: slideInOnClick 1.8s ease-in-out;
}

.slideInOnClick6 {
  -webkit-animation: slideInOnClick 2s ease-in-out;
          animation: slideInOnClick 2s ease-in-out;
}

#landing {
  background: url(../img/landing-bg.jpg) center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

#landing > div:nth-child(2) a {
  background-color: #09D0AB;
  color: #FFF;
  padding: 15px 30px;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 200px;
  border-radius: 10px;
  border: 1px solid #09D0AB;
  background-color: transparent;
}

#landing > div:nth-child(2) a:hover {
  background-color: #09D0AB;
}

#landing h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
  color: #FFF;
  font-size: 60px;
}

#landing h1 span {
  color: #09D0AB;
  -webkit-animation: blinking .5s alternate infinite;
          animation: blinking .5s alternate infinite;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#nav #logo {
  height: 100px;
}

#nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

#nav ul li {
  margin-right: 30px;
}

#nav ul li a {
  color: #FFF;
  -webkit-transition: .3s;
  transition: .3s;
}

#nav ul li a:hover {
  color: #09D0AB;
}

#nav button {
  display: none;
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#nav #menu-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background: transparent;
}

#nav #menu-modal ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

#nav #menu-modal ul li {
  display: none;
  margin-bottom: 20px;
}

#nav #menu-modal ul li a {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

#nav #menu-modal ul li a:hover {
  color: #09D0AB;
}

.secondary-header {
  background-color: #09D0AB;
}

.secondary-header .accent-nav a:hover {
  color: #000 !important;
}

.segment-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.segment-heading h2 {
  font-size: 40px;
  color: #09D0AB;
  font-weight: bold;
}

.segment-heading p {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.landing-product-card {
  background-color: #F2F2F2;
  position: relative;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
  margin: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.landing-product-card img {
  height: 250px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 997;
  top: 10%;
  left: 50%;
}

.landing-product-card h3 {
  font-weight: bold;
  padding-bottom: 30px;
}

.service-card {
  background-color: #F2F2F2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.service-card > div:first-child {
  width: 30%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.service-card > div:first-child i {
  font-size: 100px;
  text-align: center;
  color: #09D0AB;
}

.service-card > div:nth-child(2) {
  width: 70%;
}

.partner-card {
  background-color: #F2F2F2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.partner-card img {
  width: 100%;
  margin-bottom: 50px;
}

.partner-card h3 {
  font-style: italic;
}

footer {
  background: #333;
}

footer p {
  padding: 50px 0 0 0;
  color: rgba(255, 255, 255, 0.5);
}

footer p a {
  color: #09D0AB;
  -webkit-transition: .3s;
  transition: .3s;
}

footer p a:hover {
  color: #FFF;
}

footer #socials {
  padding: 20px 0 50px 0;
}

footer #socials i {
  color: #09D0AB;
  font-size: 30px;
  margin-right: 35px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer #socials i:hover {
  color: #FFF;
}

footer #socials .fa-linkedin-in {
  margin-right: 0;
}

.product {
  width: 22%;
  height: 800px;
  margin-right: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.product:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px, rgba(0, 0, 0, 0.24) 0px 4px 8px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px, rgba(0, 0, 0, 0.24) 0px 4px 8px;
}

.product:nth-child(4n) {
  margin-right: 0;
}

.product .product-info {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product .product-info img {
  margin-bottom: 30px;
}

.product .product-info h3 {
  font-weight: bold;
}

.product .product-info h4 {
  color: #09D0AB;
  font-weight: bold;
  font-size: 30px;
}

.product .product-info p {
  text-align: center;
}

.product .product-info p:nth-child(5) {
  text-decoration: line-through;
  font-weight: lighter;
}

.product .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.product .actions .add-to-cart-disabled {
  width: 100%;
  border: none;
  padding: 20px 0;
  background-color: #333;
  color: #F2F2F2;
  border-radius: 0 0 10px 10px;
}

.product .actions .add-to-cart-disabled:hover {
  cursor: default;
}

.product .actions i {
  font-size: 20px;
}

#show-filters {
  display: none;
  border: none;
  color: #09D0AB;
  -webkit-transition: .3s;
  transition: .3s;
}

#show-filters:hover {
  color: #07876F;
}

#filters-wrapper {
  width: 15%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#filters-wrapper form, #filters-wrapper select, #filters-wrapper ul {
  width: 100%;
}

#filters-wrapper #apply {
  display: none;
  padding: 15px 30px;
  border: none;
  background-color: #09D0AB;
  color: #FFF;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

#filters-wrapper #apply:hover {
  background-color: #07876F;
}

#filters-wrapper select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  width: 85%;
}

#controls {
  overflow-x: hidden;
}

#controls i {
  font-size: 40px;
  color: #09D0AB;
  margin-right: 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

#controls i:hover {
  color: #07876F;
  cursor: pointer;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacityR {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacityR {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.filterNarrowOff {
  -webkit-animation: opacityR .5s ease-in-out !important;
          animation: opacityR .5s ease-in-out !important;
}

.filterNarrow {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: opacity .5s ease-in-out !important;
          animation: opacity .5s ease-in-out !important;
}

.overflow-scroll {
  overflow: scroll;
}

.img-in-cart {
  width: 100px !important;
}

.img-in-cart img {
  width: 100px !important;
}

#cart {
  width: 100%;
}

.form {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body {
  height: 50% !important;
  overflow-y: scroll;
}

.modal-footer {
  height: 50% !important;
  overflow-y: scroll;
}

input:focus, input:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.success {
  border: 1px solid green !important;
}

.error {
  border: 1px solid red !important;
}

#order-completed {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#order-completed-inner {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#order-completed-inner h2 {
  color: #000;
  font-size: 50px;
}

#order-completed-inner i {
  color: #000;
  margin-bottom: 50px;
  font-size: 50px;
}

.alreadyInCartActive {
  top: 10%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#alreadyInCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  top: -500px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#alreadyInCart p {
  margin: 0;
  color: #FFF;
  padding: 10px 20px;
}

.button {
  --background: #09D0AB;
  --text: #fff;
  --cart: #fff;
  --tick: var(--background);
  position: relative;
  border: none;
  background: none;
  padding: 15px 30px;
  border-radius: 10px 10px 0 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 144px;
  color: var(--text);
  background: var(--background);
  -webkit-transform: scale(var(--scale, 1));
          transform: scale(var(--scale, 1));
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
  transition: -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27), -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}

.button:active {
  --scale: .95;
}

.button:focus {
  outline: none !important;
}

.button:hover {
  background-color: #07876F;
}

.button span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  -webkit-transform: translateY(var(--span-y, 0));
          transform: translateY(var(--span-y, 0));
  -webkit-transition: -webkit-transform .7s ease;
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .7s ease;
}

.button span:before, .button span:after {
  content: '';
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  -webkit-transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
          transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
  -webkit-transition: -webkit-transform .65s ease .05s;
  transition: -webkit-transform .65s ease .05s;
  transition: transform .65s ease .05s;
  transition: transform .65s ease .05s, -webkit-transform .65s ease .05s;
}

.button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}

.button .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  -webkit-transform-origin: 12px 23px;
          transform-origin: 12px 23px;
  -webkit-transform: translateX(-120px) rotate(-18deg);
          transform: translateX(-120px) rotate(-18deg);
}

.button .cart:before, .button .cart:after {
  content: '';
  position: absolute;
}

.button .cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px var(--cart);
          box-shadow: inset 0 0 0 2px var(--cart);
  bottom: 0;
  left: 9px;
  -webkit-filter: drop-shadow(11px 0 0 var(--cart));
          filter: drop-shadow(11px 0 0 var(--cart));
}

.button .cart:after {
  width: 16px;
  height: 9px;
  background: var(--cart);
  left: 9px;
  bottom: 7px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
          transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  -webkit-transition: -webkit-transform 1.2s ease var(--fill-d);
  transition: -webkit-transform 1.2s ease var(--fill-d);
  transition: transform 1.2s ease var(--fill-d);
  transition: transform 1.2s ease var(--fill-d), -webkit-transform 1.2s ease var(--fill-d);
}

.button .cart svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: var(--cart);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.button .cart svg polyline:last-child {
  stroke: var(--tick);
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  -webkit-transition: stroke-dashoffset 0.4s ease var(--offset-d);
  transition: stroke-dashoffset 0.4s ease var(--offset-d);
}

.button.loading {
  --scale: .95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: .8s;
  --offset: 0;
  --offset-d: 1.73s;
}

.button.loading .cart {
  -webkit-animation: cart 3.4s linear forwards .2s;
          animation: cart 3.4s linear forwards .2s;
}

@-webkit-keyframes cart {
  12.5% {
    -webkit-transform: translateX(-60px) rotate(-18deg);
            transform: translateX(-60px) rotate(-18deg);
  }
  25%,
  45%,
  55%,
  75% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  44%,
  56% {
    -webkit-transform-origin: 12px 23px;
            transform-origin: 12px 23px;
  }
  45%,
  55% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  87.5% {
    -webkit-transform: translateX(70px) rotate(-18deg);
            transform: translateX(70px) rotate(-18deg);
  }
  100% {
    -webkit-transform: translateX(140px) rotate(-18deg);
            transform: translateX(140px) rotate(-18deg);
  }
}

@keyframes cart {
  12.5% {
    -webkit-transform: translateX(-60px) rotate(-18deg);
            transform: translateX(-60px) rotate(-18deg);
  }
  25%,
  45%,
  55%,
  75% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  44%,
  56% {
    -webkit-transform-origin: 12px 23px;
            transform-origin: 12px 23px;
  }
  45%,
  55% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  87.5% {
    -webkit-transform: translateX(70px) rotate(-18deg);
            transform: translateX(70px) rotate(-18deg);
  }
  100% {
    -webkit-transform: translateX(140px) rotate(-18deg);
            transform: translateX(140px) rotate(-18deg);
  }
}

.about-box {
  color: #FFF;
  height: 300px;
  width: 100%;
  background-color: #09D0AB;
  margin-bottom: 50px;
  border-radius: 10px;
}

.about-box p {
  padding: 20px;
  font-weight: bold;
}

.about-box a {
  padding: 10px 20px;
  background-color: #FFF;
  color: #09D0AB;
  display: inline-block;
  margin: 20px;
  border: 1px solid #09D0AB;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 10px;
}

.about-box a:hover {
  border: 1px solid #FFF;
  background-color: #09D0AB;
  color: #FFF;
}

.about-box .about-box-heading {
  background-color: #07876F;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.about-box .about-box-heading h2 {
  font-weight: bolder;
  font-size: 30px;
}

#about-heading {
  font-weight: bold;
  font-size: 50px;
}

#about-heading span {
  font-weight: bolder;
}

#about-heading span span {
  color: #09D0AB;
}

label span {
  color: red;
}

#contact-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  top: -500px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#contact-modal p {
  margin: 0;
  color: #FFF;
  padding: 10px 20px;
}

@media screen and (max-width: 1220px) {
  .landing-product-card {
    margin-bottom: 150px;
  }
  .landing-product-card:nth-child(3) {
    margin: 0;
  }
  .partner-card {
    margin-bottom: 150px;
  }
  #filters-wrapper {
    display: none;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #FFF;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  #filters-wrapper form, #filters-wrapper select, #filters-wrapper ul {
    width: 100%;
    margin-bottom: 10px !important;
  }
  #filters-wrapper #apply {
    display: inline-block;
  }
  #filters-wrapper > div {
    width: 50%;
  }
  #products-wrapper {
    width: 100%;
  }
  #show-filters {
    display: inline-block;
  }
  #controls {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .product {
    width: 30%;
  }
  .product .product-info {
    padding: 15px;
  }
  .product:nth-child(4n) {
    margin-right: 20px;
  }
  .product:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 850px) {
  #nav ul {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
  .hamburger:focus {
    outline: none !important;
  }
}

@media screen and (max-width: 600px) {
  .product {
    width: 50%;
    margin-right: 0 !important;
    height: 700px;
  }
}

@media screen and (max-width: 500px) {
  #landing h1 {
    margin-top: 100px;
  }
  .service-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service-card > div:first-child {
    width: 100%;
  }
  .service-card > div:nth-child(2) {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */